<h1> Editar Preços por Distância</h1>

<% if(@price_distance.errors.any?)%>
    <p> Verifique os erros abaixo: </p>
    <ul>
        <% @price_distance.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <%end%>
    </ul>
<%end%>

<%= render 'form' %>