<h2> Cadastrar Novo Prazo</h2>

<% if(@delivery_time.errors.any?)%>
    <p> Verifique os erros abaixo: </p>
    <ul>
        <% @delivery_time.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <%end%>
    </ul>
<%end%>

<%= render 'form' %>