<h2> Modalidades de Transporte</h2>

<div>
    <% if @user.admin? %>
        <%=link_to('Cadastrar Modalidade de Transporte', new_delivery_mode_path)%>
    <%end%>
</div>

<% if @delivery_modes.any? %>
    <div>

        <% @delivery_modes.each do |d| %>
             <dl><%=link_to(d.name , d)%></dl>
        <%end%>
    </div>
<%else%>
    <p> Não existem modalidades de transporte cadastradas.</p>
<%end%>