<h1> Preços e Prazos</h1>

<dt><strong>Preços:</strong></dt> 
<dd><%= link_to('Preços por Peso', price_weights_path)%></dd> 
<dd><%= link_to('Preços por Distância', price_distances_path)%></dd>

<dt><strong>Prazos:</strong></dt> 
<dd><%= link_to('Prazos de Entrega', price_distances_path)%></dd>