<h2> Preços e Prazos</h2>

<dt><strong>Preços:</strong></dt> 
<dd><%= link_to('Preços por Peso', price_weights_path)%></dd> 
<dd><%= link_to('Preços por Distância', price_distances_path)%></dd>
<br>
<dt><strong>Prazos:</strong></dt> 
<dd><%= link_to('Prazos de Entrega', delivery_times_path)%></dd>