<h1> Consulte as Preços e Prazos </h1>

    <li>
        <%= link_to('Preços por Peso', price_weights_path)%> 
    </li> 

    <li>
    <%= link_to('Preços por Distância', price_distances_path)%>
    </li>

     <li>
    <%= link_to('Prazos de Entrega', price_distances_path)%>
    </li>


