<h2> Veículos</h2>

<div>
<% if @user.admin?%>
    <%= link_to('Cadastrar Veículo', new_vehicle_path)%>  
<%end%>
</div>

<% if @vehicles.any? %>
    <div>

        <% @vehicles.each do |v| %>
             <dl><%=link_to(v.brand, v)%></dl>
        <%end%>
    </div>
<%else%>
    <p> Não existem veículos cadastrados.</p>
<%end%>